* :not(title){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inputBodyText{
    height: 100px;
    width: 105%;
    margin: 10px;
    border: solid 1px black;
}
